Repository hmcts/blob-router-service, pull requests merged in 2019-12, with the labels that each got.

#34 Feature: Application Gateway tests in the pipeline
  Jenkinsfile_CNP
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/api-mgmt.tf
  infrastructure/output.tf
  src/apiGatewayTest/java/uk/gov/hmcts/reform/blobrouter/ApiGatewayTest.java
  src/apiGatewayTest/resources/application.conf
  src/apiGatewayTest/resources/unrecognised-client-certificate-info.md
  src/apiGatewayTest/resources/unrecognised-client-certificate.jks
Labels: ns:reform-scan-blob-router-pr-34

#37 Update blob dependency
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
Labels: ns:reform-scan-blob-router-pr-37

#39 Migrate Swagger v2 (SpringFox) to v3 (OpenApi)
  .github/workflows/swagger.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/SasTokenResponse.java
Labels: ns:reform-scan-blob-router-pr-39

#40 Set protocol for SAS token generation
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan-blob-router-pr-40

#42 Updated bootstrap mappings to use env var name used in app yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-42

#43 Fixed bootstrap config and removed defaults
  charts/reform-scan-blob-router/values.preview.template.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-43

#44 Update bootstrap mappings
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-44

#45 Fix env var mapping
  src/main/resources/application.yaml
Labels: ns:reform-scan-blob-router-pr-45

#48 Fix storage config
  Jenkinsfile_CNP
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ListContainersTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageHelper.java
  src/smokeTest/resources/application.conf
Labels: ns:reform-scan-blob-router-pr-48

#52 Add environment variables for master pipeline
  Jenkinsfile_CNP
Labels: ns:reform-scan-blob-router-pr-52

#53 Revert Jenkinsfile change
  Jenkinsfile_CNP
Labels: ns:reform-scan-blob-router-pr-53

#55 Add badge with link to swagger specs
  README.md
Labels: ns:reform-scan-blob-router-pr-55
