Repository hmcts/blob-router-service, pull requests merged in 2019-11, with the labels that each got.

#3 Fix pipeline deployment - for PRs and maybe master
  infrastructure/main.tf
Labels: ns:reform-scan-blob-router-pr-3

#4 Add resource for Application Insights and store to vault
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:reform-scan-blob-router-pr-4

#5 Add/Update AppInsights configuration
  Dockerfile
  build.gradle
  charts/reform-scan-blob-router/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
  web.config
Labels: ns:reform-scan-blob-router-pr-5

#7 Add github action - replacement for travis ci
  .github/workflows/ci.yml
  .travis.yml
  README.md
Labels: ns:reform-scan-blob-router-pr-7

#9 Remove soon to become shared infra
  Dockerfile
  infrastructure/aat.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sbox.tfvars
  infrastructure/variables.tf
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-9

#10 Add AppInsights instrumentation key
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-10

#12 Add resource group to values.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan-blob-router-pr-12

#11 Add SAS token generator service
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/ServiceConfigNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/UnableToGenerateSasTokenException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan-blob-router-pr-11

#16 Fix service storage config
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan-blob-router-pr-16

#17 Add sas token endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/SasTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
Labels: ns:reform-scan-blob-router-pr-17

#18 Add controller advice to handle the exceptions
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerExceptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/ErrorResponse.java
Labels: ns:reform-scan-blob-router-pr-18

#20 Add config for blob storage secrets
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-20

#21 Move integration tests config
  src/integrationTest/resources/application.properties
Labels: ns:reform-scan-blob-router-pr-21

#22 Add smoke test for the Storage sas token
  build.gradle
  config/owasp/suppressions.xml
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/BlobStorageHealthTest.java
  src/smokeTest/resources/application.conf
Labels: ns:reform-scan-blob-router-pr-22

#23 Remove dummy tests
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/DummyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/DummyTest.java
Labels: ns:reform-scan-blob-router-pr-23

#19 Update gradle 5.6.3 -> 6.0
  .github/workflows/ci.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:reform-scan-blob-router-pr-19

#25 Add service config for all containers
  src/main/resources/application.yaml
Labels: ns:reform-scan-blob-router-pr-25

#24 Add CI workflow - publish swagger specs
  .github/workflows/swagger.yml
Labels: ns:reform-scan-blob-router-pr-24

#27 Add modules for API management
  infrastructure/api-mgmt.tf
  infrastructure/api-policy.xml
  infrastructure/api-test-vars.tf
  infrastructure/variables.tf
Labels: ns:reform-scan-blob-router-pr-27

#28 Fix source references of modules
  infrastructure/api-mgmt.tf
Labels: ns:reform-scan-blob-router-pr-28

#29 Fix api management parameters
  infrastructure/api-mgmt.tf
Labels: ns:reform-scan-blob-router-pr-29

#30 Allow disabling containers via config
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/ServiceDisabledException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan-blob-router-pr-30

#32 changes for helm upgrade
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan-blob-router-pr-32

#33 Disable crime sas tokens on prod
  charts/reform-scan-blob-router/values.aat.template.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan-blob-router-pr-33
