Repository hmcts/blob-router-service, pull requests merged in 2020-12, with the labels that each got.

#811 Add reconciliation recipient
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-811

#812 enable PCQ Reconciliation mail
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-812

#818 suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-818

#820 fix upload script
  bin/sign-zip-upload.sh
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-820

#824 fix tomcat vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-824

#823 Empty reconciliation report
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSender.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSenderTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-823

#825 dependabot-shedlock bumps
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-825

#829 use syncBranchesWithMaster
  Jenkinsfile_CNP
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-829

#830 simplify upload
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-830

#826 Handling empty reconciliation reports
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSender.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSenderTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-826

#831 Renamed method
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSender.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-831

#832 remove proxy
  Jenkinsfile_CNP
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/HttpConfiguration.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-832

#839 set db product name
  infrastructure/main.tf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-839

#840 make container name case insensitive
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportServiceTest.java
  src/test/resources/reconciliation/summary-report/CFT-summary-report-with-both-discrepancy.json
  src/test/resources/reconciliation/summary-report/CRIME-summary-report-with-both-discrepancy.json
  src/test/resources/reconciliation/summary-report/PCQ-summary-report-with-both-discrepancy.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-840

#843 case insensitve search
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapperTest.java
  src/test/resources/reconciliation/valid-supplier-statement.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-843

#846 use lowercase for detailed report
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapperTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-846

#847 Added permissions
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-847
