Repository hmcts/blob-router-service, pull requests merged in 2020-08, with the labels that each got.

#596 Remove commons-lang3 dependency
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-596

#598 Rescheduled daily report
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-598

#599 Rescheduled daily report to be executed every day
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-599

#601 Add new table and repo for envelope supplier statements
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/SupplierStatementRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/EnvelopeSupplierStatementRowMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/SupplierStatementRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/model/EnvelopeSupplierStatement.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/model/NewEnvelopeSupplierStatement.java
  src/main/resources/db/migration/V013__Create_envelope_supplier_statements_table.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-601

#606 Add table and repo for reconciliation reports
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/ReconciliationReportRowMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/model/NewReconciliationReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/model/ReconciliationReport.java
  src/main/resources/db/migration/V014__Create_envelopes_reconciliation_reports_table.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-606

#607 Clean up reconciliation data package
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/SupplierStatementRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/Utils.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRowMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/model/NewReconciliationReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/model/ReconciliationReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/EnvelopeSupplierStatementRowMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/SupplierStatementRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/model/EnvelopeSupplierStatement.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/model/NewEnvelopeSupplierStatement.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-607

#611 Add models for Reconciliation endpoint
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/Envelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/ReconciliationRequest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/SupplierStatement.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/out/SuccessfulReconciliationResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-611

#613 Add config to enable/disable reconciliation
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-613

#612 Add Reconciliation Service
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidSupplierStatementException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-612

#614 Update dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-614

#617 Revert "Bump postgresql from 42.2.14 to 42.2.15 (#616)"
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-617

#615 Add reconciliation endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/reconciliation/invalid-supplier-statement-report.json
  src/integrationTest/resources/reconciliation/valid-supplier-statement-report.json
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/SupplierStatement.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-615

#618 Rename Reconciliation report request and response models
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/SupplierStatementReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/out/SuccessfulResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-618

#620 Add key-vault secret for Api key
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-620

#623 Add Authorization header to reconciliation endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidApiKeyException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-623

#622 Remove no longer needed controller advice section for `EnvelopeNotFoundException`
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-622

#624 Add functional tests for reconciliation endpoint Authorization
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
  src/functionalTest/resources/reconciliation/reconciliation-supplier-report.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-624

#625 Remove config used for disabling the reconciliation endpoint
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerDisabledTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-625

#626 Update Swagger configuration to publish reconciliation api
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/SwaggerConfiguration.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-626

#628 Set blob upload timeout
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-628

#633 fix pipeline - change docker container in test and disable smoke test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/BlobStorageBaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-633

#630 Fix swagger configuration
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/SwaggerConfiguration.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-630

#631 Update reconciliation endpoint path
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-631

#634 enable smoke test
  infrastructure/aat.tfvars
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-634

#632 Get latest reconciliation statement
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/SupplierStatementRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/SupplierStatementRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-632

#627 Add repository layer for reconciliation reporting
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/DbHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/resources/db/migration/V015__Add_index_for_finding_reconciliation_report.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-627

#635 add down stream report request and response
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClientTest.java
  src/integrationTest/resources/reconciliation/statement-request-to-processor.json
  src/integrationTest/resources/reconciliation/statement-response-with-discrepancies.json
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/DiscrepancyItem.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationReportResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationStatement.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReportedZipFile.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-635
