Repository hmcts/blob-router-service, pull requests merged in 2020-01, with the labels that each got.

#61 Removed retired suppression and updated tomcat versions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:reform-scan-blob-router-pr-61

#64 Copy bulkscan storage account secrets to reform key vault
  infrastructure/main.tf
Labels: ns:reform-scan-blob-router-pr-64

#62 Copy bulk scan storage account details from bulk scan to reform scan key vault
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-62

#65 add OSBA blob storage for preview
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan-blob-router-pr-65

#67 Error notification client
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationClientTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/Application.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationResponse.java
Labels: ns:reform-scan-blob-router-pr-67

#68 Copy error notification secrets
  infrastructure/main.tf
Labels: ns:reform-scan-blob-router-pr-68

#66 Feature/add blob dispatcher task
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ResourceFilesHelper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/StorageClientsHelper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/StorageStubHttpClient.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/StorageTestBase.java
  src/test/resources/storage/list-blobs.json
  src/test/resources/storage/list-containers.json
  src/test/resources/storage/list-empty-blobs.json
Labels: ns:reform-scan-blob-router-pr-66

#71 db infra
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:reform-scan-blob-router-pr-71

#69 Replace defaults with actual values
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationConfiguration.java
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-69

#72 Include http configuration for AppInsights telemetries
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/HttpConfiguration.java
Labels: ns:reform-scan-blob-router-pr-72

#76 Bump azure storage dependencies
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageClientsHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageStubHttpClient.java
  src/integrationTest/resources/storage/list-blobs.json
  src/integrationTest/resources/storage/list-containers.json
  src/integrationTest/resources/storage/list-empty-blobs.json
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/StorageTestBase.java
Labels: ns:reform-scan-blob-router-pr-76

#77 Add crime storage config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan-blob-router-pr-77

#78 Add flyway and first migration
  Jenkinsfile_CNP
  build.gradle
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/FlywayConfig.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/PendingMigrationException.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V001__Create_envelopes_table.sql
Labels: ns:reform-scan-blob-router-pr-78

#81 Create Envelope model and related repository interface
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Envelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Status.java
Labels: ns:reform-scan-blob-router-pr-81

#82 Create new model for envelope inserts
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/NewEnvelope.java
Labels: ns:reform-scan-blob-router-pr-82

#83 wait blob processing config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan-blob-router-pr-83

#85 Implement envelopes repository
  build.gradle
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerExceptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/DbHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImplTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImpl.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V002__Add_create_at_column_to_envelopes.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-85

#86 Convert library usage to synchronous code
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageClientsHelper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-86

#87 Add method for finding envelope by filename and container
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImplTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImpl.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-87

#88 Fix db url for flyway
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-88

#93 Fix db conn string
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-93

#90 Provide connection strings for destination storage accounts
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-90

#94 Change chart version to 0.0.13
  charts/reform-scan-blob-router/Chart.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-94

#97 Fix DB user name for Flyway
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-97

#98 Fixed flyway url as it was referring to incorrect host
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-98

#79 Add blob dispatcher component
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageStubHttpClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
Labels: ns:reform-scan, ns:reform-scan-blob-router-pr-79, rel:reform-scan-blob-router-pr-79

#92 Add shedlock
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerExceptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ShedLockConfig.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V003__Add_shedlock_table.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-92

#89 Add blob processor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageClientsHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageStubHttpClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-89

#100 Add repository to BlobProcessor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageStubHttpClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-100

#101 Add class for checking whether blob can be processed
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobReadinessChecker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/BlobReadinessCheckerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-101

#84 ContainerCleaner
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-84

#91 Add storage account client beans for Bulk Scan and Crime
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/ErrorNotificationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImplTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-91

#99 Extend configuration to support Crime
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/TargetStorageAccount.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-99

#104 BlobCleanerTask
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobCleanerTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobCleanerTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-104

#103 Make blob lease client mockable
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseClientProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-103

#107 Config for blob deletion
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/TimeZones.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-107

#108 Check if blob is ready for processing
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-108

#105 Add BlobProcessor in ContainerProcessor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-105

#102 Add scheduler configuration for App Insights tracking
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/SchedulerConfiguration.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-102

#109 Pass connection strings for functional tests in pipeline
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-109

#111 Enable blob scan task
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-111

#114 Move default to chart config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-114

#112 Create a functional test for processing crime blobs
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/CrimeBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/DummyTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/envelope/ZipFileHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/storage/StorageHelper.java
  src/functionalTest/resources/application.conf
  src/functionalTest/resources/test-data/envelope/crime/README.md
  src/functionalTest/resources/test-data/envelope/crime/envelope.zip
  src/functionalTest/resources/test-data/envelope/crime/signature
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-112

#118 add bulk-scan processor url to get SAS token
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-118

#123 Add App GW url for storage
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-123

#120 Add url for main storage client to work
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-120

#115 Enable deletion
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/SchedulerConfiguration.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteDispatchedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteDispatchedFilesTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-115

#119 add bulk-scan-processor client to get sas token
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/BulkScanProcessorClientTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/BulkScanProcessorClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/SasTokenResponse.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-119

#127 Clean up clients package
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationClientTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/SasTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationResponse.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-127

#129 SchedulerConfigTest
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-129

#131 Provide blob storage clients dynamically
  Jenkinsfile_CNP
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerExceptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobServiceClientProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/UnknownStorageAccountException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobServiceClientProviderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-131

#134 Remove an unused reference of a missing secret
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-134

#136 Retrieve dispatched envelopes for currently processed container only
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImplTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-136

#135 Stop BlobDispatcher from catching exceptions
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-135

#142 Disabled api mgmt to deploy blob router service
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-142

#140 Upgrade gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-140

#150 Added thumbprint for ITHC testing
  infrastructure/prod.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-150

#151 Add envelope controller
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/EnvelopeNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-151

#156 Fixed blob storage url for CFT(bulk scan processor)
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProvider.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-156

#155 .editorconfig : allow inline field annotations
  .editorconfig
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-155

#153 Remove envelope repository interface
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-153

#158 Rename envelope repository class
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-158

#159 Process containers in random order
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-159

#152 Container cleaner test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerIntTest.java
  src/integrationTest/resources/docker-compose.yml
  src/integrationTest/resources/storage/test1.zip
  src/integrationTest/resources/storage/test2.zip
  src/integrationTest/resources/storage/test3.zip
  src/integrationTest/resources/storage/test4.zip
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-152

#162 Clean up container cleaner test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-162

#117 Add Zipfile signature verifier
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/DocSignatureFailureException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidZipArchiveException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/SignatureValidationException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiers.java
  src/main/resources/nonprod_public_key.der
  src/main/resources/test_public_key.der
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/SigningHelper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
  src/test/resources/signature/invalid_public_key_format.der
  src/test/resources/signature/invalid_test_public_key.der
  src/test/resources/signature/nonprod_envelope.zip
  src/test/resources/signature/nonprod_envelope_signature
  src/test/resources/signature/private_key.pem
  src/test/resources/signature/prod_public_key.der
  src/test/resources/signature/prod_test_envelope.zip
  src/test/resources/signature/prod_test_signature
  src/test/resources/signature/public_key.der
  src/test/resources/signature/sample_valid_content/1111002.pdf
  src/test/resources/signature/sample_valid_content/metadata.json
  src/test/resources/signature/signature
  src/test/resources/signature/some_other_private_key.der
  src/test/resources/signature/test.pdf.sig
  src/test/resources/signature/test_private_key.der
  src/test/resources/test.pdf
  src/test/resources/test1.pdf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-117

#164 Clean up `BlobDispatcher`
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-164

#165 Create unit test for blob dispatcher
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-165

#163 Extract base class for blob storage integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/BlobStorageBaseTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-163

#167 Update base class for blob storage integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/BlobStorageBaseTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-167

#116 Add environment variables for storage signature
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-116

#161 Add bulkscan functional test
  Jenkinsfile_CNP
  build.gradle
  charts/reform-scan-blob-router/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BulkScanBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/CrimeBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
  src/functionalTest/resources/test-data/envelope/README.md
  src/functionalTest/resources/test-data/envelope/envelope.zip
  src/functionalTest/resources/test-data/envelope/signature
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-161

#168 Add integration test for blob processor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor2Test.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-168

#169 Use java 10 `var` where appropriate
  src/apiGatewayTest/java/uk/gov/hmcts/reform/blobrouter/ApiGatewayTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/envelope/ZipFileHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/BlobReadinessCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProviderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteDispatchedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/DirectoryZipper.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-169

#170 Remove old integration test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-170

#171 Use azurite blob storage in integration test for `ContainerProcessor`
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-171

#172 Clean up integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageClientsHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/StorageStubHttpClient.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-172

#173 Use Java9 Set instead of Guava's Set
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-173

#176 Use vars
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-176

#177 Add repo method for finding envelopes by `status` and `isDeleted`
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-177

#174 Add Signature verification to Blob processor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/signing/some_other_private_key.der
  src/integrationTest/resources/signing/test_private_key.der
  src/integrationTest/resources/signing/test_public_key.der
  src/integrationTest/resources/storage/valid/envelope.zip
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiers.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobSignatureVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
  src/test/resources/signature/some_other_public_key.der
  src/test/resources/signature/test_public_key.der
  src/test/resources/signature/valid_content/metadata.json
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-174

#178 Remove signature algorithm config
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiers.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobSignatureVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-178

#179 Remove signature algorithm and bump chart version
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-179

#182 add test certificates
  Jenkinsfile_CNP
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-182

#181 Add service for moving files to rejected container
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-181

#185 add test certificates
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-185

#183 Add missing prod public key and cleanup properties files
  src/integrationTest/resources/application.properties
  src/main/resources/trusted_public_key.der
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-183

#187 Overwrite duplicate rejected files
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/BlobStorageBaseTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-187

#189 Create snapshots for duplicate rejected files
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-189

#191 Add config changes for rejected files scheduled job
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-191

#186 Add scheduled job to handle rejected files
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/HandleRejectedFilesTask.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-186

#196 Extend suppression time of spring security issue
  config/owasp/suppressions.xml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-196

#197 add new valid test cert
  infrastructure/aat.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-197

#198 Add logging for the envelope id created for rejected blob
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-198

#193 Update signature
  src/functionalTest/resources/test-data/envelope/signature
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-193
