Repository hmcts/blob-router-service, pull requests merged in 2020-10, with the labels that each got.

#725 Add configuration for Mail sender when email config is disabled
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderDisabledTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/EmailConfig.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/MessageSender.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-725

#721 Endpoint to generate and email Reconciliation reports
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationReportGenerationControllerTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationReportGenerationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-721

#726 Refactor Reconciliation detailed report service
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationReportGenerationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationReportGenerationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/CftDetailedReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/CftDetailedReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-726

#728 Change manual reconciliation report generation endpoint path
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationReportGenerationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationReportGenerationController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-728

#727 add container name validation to ReconciliationService
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/integrationTest/resources/reconciliation/invalid-supplier-statement-with-invalid-containers.json
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidSupplierStatementException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-727

#722 impr: add warning when SupplierStatement out of range (BPS-1400)
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/TestClockProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/out/SuccessfulResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/datetimechecker/StatementRelevancyForAutomatedReportChecker.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/datetimechecker/StatementRelevancyForAutomatedReportCheckerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-722

#733 fix latest report query
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-733

#731 rename test names and change email content
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-731

#732 fix: bump testcontainers to fix 2.4.0 docker issue
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-732

#735 fix notification staging queue config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-735

#736 fix notification staging queue config code
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/QueueClientConfig.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-736
