Repository hmcts/blob-router-service, pull requests merged in 2020-06, with the labels that each got.

#526 Always include 'create' permissions instead of 'write' in SAS tokens
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-526

#543 Fix the incorrect test storage account url
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-543

#545 Revert "Fix the incorrect test storage account url (#543)"
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-545

#542 fix dependabot dependencies and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-542

#547 remove log
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-547

#504 Added secret mapping and bootstrap config for staging infrastructure
  Jenkinsfile_CNP
  charts/reform-scan-blob-router/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-504

#548 Use Staging blob storage for AAT staging pod
  charts/reform-scan-blob-router/values.aat.template.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-548

#550 Fix the secret used to generate private key in upload script
  bin/sign-zip-upload.sh
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-550

#546 Refactor `LeaseAcquirer` to be able to consume leaseId
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-546

#552 Acquire lease before deleting rejected blob
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedContainerCleanerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-552

#555 Change 3rd argument to Consumer instead
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-555

#551 Feature: acquire lease before deleting dispatched blob
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-551

#557 Update envelopes endpoint response to return date fields with London timezone
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/DateTimeUtils.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-557

#558 Do not release lease for deleted blobs
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-558

#560 Check for parameters of envelopes request
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidRequestParametersException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-560

#561 Fix envelopes datetime fields format with Local timezone
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/DateTimeUtils.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeEventResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-561

#565 Bump spring boot 2.2 -> 2.3
  build.gradle
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-565

#570 Publish notification queue message with envelope id
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-570

#571 Update error notification log
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisher.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisherTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-571

#573 Stop checking for new crime envelopes
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-573

#576 Escape possible html message
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-576

#577 Fix owasp dep check warning
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-577
