Repository hmcts/blob-router-service, pull requests merged in 2020-04, with the labels that each got.

#441 Add pending notifications
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/Envelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeMapper.java
  src/main/resources/db/migration/V009__Add_pending_notification_column_and_index_to_envelopes.sql
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-441

#442 Update envelope pending_notification and add new event NOTIFICATION_SENT
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventType.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-442

#436 Add Notification service to send messages to the queue for the rejected envelopes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/RejectedEnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-436

#444 Add pending notifications field to the envelope info response
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-444

#443 Add scheduled task to send notifications for the rejected envelopes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/SendNotificationsTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/SendNotificationsTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-443

#445 Add functional test for rejected files notifications
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/RejectedEnvelopesNotificationTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-445

#450 Add error_code column to the envelope_events table
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/RejectedEnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEvent.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEventMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/ErrorCode.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/NewEnvelopeEvent.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/resources/db/migration/V010__Add_error_code_column_to_envelope_events.sql
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-450

#459 Bump postgresql from 1.13.0 to 1.14.0
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-459

#457 Save error code
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEventRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobVerifierTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-457

#461 Update error_code field type in the notification queue message
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/RejectedEnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/model/NotificationMsg.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-461

#468 Add bash scripts from processor repo
  bin/README.md
  bin/sign-zip-upload.sh
  bin/wrap_and_sign_envelope.sh
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-468

#469 Add publiclaw container to preview blob storage
  charts/reform-scan-blob-router/values.preview.template.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-469

#466 Make the presence of write permission in SAS token configurable
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-466

#470 Check if the blob can be processed before acquiring the lease
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-470

#471 Added thumbprint for api mgmt for demo
  infrastructure/demo.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-471

#472 Dont log error when blob was already deleted
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-472
