Repository hmcts/blob-router-service, pull requests merged in 2020-11, with the labels that each got.

#772 fix bulkscan storage url
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-772

#774 update thumbprints
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-774

#775 enable sas smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-775

#776 enable reconciliation smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationApiTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-776

#778 Upgrade helm version
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-778

#782 fix chart
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-782

#785 Try to fix chart
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-785

#786 2 - try to fix chart
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-786

#787 3-try to fix chart
  charts/reform-scan-blob-router/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-787

#788 dependabot upgrades
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-788

#738 set crons for reconciliation tasks
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-738

#729 Update Swagger configuration to publish correct APIs
  infrastructure/api-mgmt.tf
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/SwaggerConfiguration.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-729

#742 fix detailed report service
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/CftDetailedReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/CftDetailedReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-742

#789 upgrade sas token validity for divorce
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-789

#740 run reconciliation tasks for previous date
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/SummaryReportTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/SummaryReportTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-740

#794 add extra permission to SAS
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-794

#795 Revert "add extra permission to SAS (#794)"
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-795

#796 Revert sas validity and swagger url
  infrastructure/api-mgmt.tf
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-796

#797 Add read right sas
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-797

#800 Unify bulk scan storage url
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-800

#804 Revert SAS token access rights
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-804

#737 fix: remove warning from the response if null (BPS-1400)
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/out/SuccessfulResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-737

#734 fix: find reports for the day
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/TestClockProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-734

#809 add `add` access right to sas token
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-809
