Repository hmcts/blob-router-service, pull requests merged in 2020-09, with the labels that each got.

#636 add mapper to map reconciliation content to report request
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/TargetStorageAccount.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapperTest.java
  src/test/resources/reconciliation/valid-supplier-statement.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-636

#597 Extend queue config by including access key and namespace
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-597

#643 Fix queue config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-643

#637 Fix supplier statement request model
  src/functionalTest/resources/reconciliation/reconciliation-supplier-report.json
  src/integrationTest/resources/reconciliation/invalid-supplier-statement-report.json
  src/integrationTest/resources/reconciliation/valid-supplier-statement-report.json
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/SupplierStatementReport.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-637

#642 Update Controller advice to return only error message
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerExceptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/ErrorResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-642

#644 Use new config for servicebus queue
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/QueueClientConfig.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-644

#646 Remove no longer needed chart config for servicebus connection strings
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/QueueClientConfig.java
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-646

#648 Revert "Bump postgresql from 42.2.14 to 42.2.16"
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-648

#647 Rename and add content columns
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRowMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/model/NewReconciliationReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/model/ReconciliationReport.java
  src/main/resources/db/migration/V016__Rename_and_add_new_column_reconciliation_report.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-647

#651 add extra records to test file for coming tests
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapperTest.java
  src/test/resources/reconciliation/valid-supplier-statement.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-651

#653 Add PCQ storage configuration
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-653

#659 fix resource group for s2s
  infrastructure/main.tf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-659

#656 Move SasTokenResponse to a common package
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClientTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/response/SasTokenResponse.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCacheTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-656

#658 bump chart version
  charts/reform-scan-blob-router/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-658

#657 Add feign client for PCQ SAS token endpoint
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/pcq/PcqClientTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/pcq/PcqClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/AuthConfig.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-657

#650 Summary report creation
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/SummaryReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/SummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportCreator.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/resources/reconciliation/summary-report/summary-report-with-both-discrepancy.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-650

#661 add summary task configs
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-661

#660 add summary task
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/SummaryReportTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/SummaryReportTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-660

#663 Rename Bulkscan SAS token cache class
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/SasTokenCache.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/SasTokenCacheTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-663

#664 Cache PCQ sas token
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/AuthConfig.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/SasTokenCache.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/SasTokenCacheTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-664

#666 Dispatch the inner zip file for PCQ
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobContentExtractor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/BlobContentExtractorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-666

#665 add DetailedReportService
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/DetailedReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/DetailedReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-665

#668 add reconciliation detailed report tasks config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-668

#670 Add pcq storage url config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-670

#669 add DetailedReportTask
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-669

#629 Add reconciliation endpoint to api mgmt
  infrastructure/api-mgmt.tf
  infrastructure/api-policy-v2.xml
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationApiTest.java
  src/smokeTest/resources/application.conf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-629

#671 Use PCQ storage to dispatch the PCQ envelopes
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProviderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-671

#672 Enable Reconciliation API smoke test
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationApiTest.java
  src/smokeTest/resources/application.conf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-672

#674 check summary report existence before process
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-674

#678 remove unused object and add private modifier
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/SupplierStatementRepositoryTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-678

#667 Add functional tests for PCQ
  charts/reform-scan-blob-router/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BlobRejectTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/PcqBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProvider.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-667

#679 Refactor crime new envelopes finder method
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-679

#680 add ReconciliationCsvWriter
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriter.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriterTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-680

#683 Add csv writer for detailed report
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriter.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriterTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-683

#682 Update new envelope finder tests
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-682

#684 add mail and mail sending task config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-684

#685 Add update method to report repository for sent_at column
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-685

#687 Upgrade terraform to 0.13.3
  infrastructure/.terraform-version
  infrastructure/api-mgmt.tf
  infrastructure/api-test-vars.tf
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-687

#689 change BULKSCAN TargetStorageAccount name
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/TargetStorageAccount.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/DetailedReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/report/ReconciliationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/DetailedReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/DetailedReportTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/BlobContentExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-689

#688 Enable PCQ functional test
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/PcqBlobDispatchingTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-688

#695 Disable checking new envelopes in PCQ container
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-695

#696 add reconciliation end point
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReconciliationReportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/model/ReconciliationReport.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationReportController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-696

#694 add reconciliation mail sending
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/task/ReconciliationMailTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-694

#697 Refactor Api Gateway smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ApiGatewayBaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationApiTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-697

#698 Update api policy to validate certificate for Reconciliation endpoint
  infrastructure/api-mgmt.tf
  infrastructure/api-policy-v2.xml
  infrastructure/api-policy.xml
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationApiTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-698

#701 Enable Reconciliation API smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/ReconciliationApiTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-701

#700 Clean up reconciliation service
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-700

#702 log exceptions
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-702

#703 add mail from and to log
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-703

#704 bump spring version
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-704

#714 Clean up summary report service
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-714

#706 Readiness config
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/health/ReadinessTest.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-706

#718 fix latest statement query
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/SupplierStatementRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/SupplierStatementRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-718

#715 Summaryreport container name case insensitive
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportServiceTest.java
  src/test/resources/reconciliation/valid-supplier-statement-container-case-insensitive.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-715

#719 Removed readinessState
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-719
