Repository hmcts/blob-router-service, pull requests merged in 2020-03, with the labels that each got.

#327 Suppress netty vulnerability
  config/owasp/suppressions.xml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-327

#326 use previous variable name for db config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-326

#328 remove unnecessary key vaults
  infrastructure/main.tf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-328

#325 Make it configurable whether the app uses proxy or not
  charts/reform-scan-blob-router/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/HttpConfiguration.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-325

#331 Get rid off flyway variables
  build.gradle
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-331

#330 Repository changes to get envelopes count in Cft and Crime containers
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-330

#333 Use db values from vault
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-333

#334 delete old db
  infrastructure/main.tf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-334

#335 Bug: Don't create events when blob lease cannot be acquired
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-335

#329 Create new envelope before processing file
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-329

#337 Rename Event enum to EventType
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/EventRecord.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/EventType.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/NewEventRecord.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-337

#336 Add service to log message when no new envelopes found
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-336

#338 Clean up data package
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BlobRejectTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BulkScanBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/CrimeBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/Envelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/NewEnvelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/Status.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventRecord.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventType.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/NewEventRecord.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/EnvelopeSummary.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/EnvelopeSummaryMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/ReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeEvent.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-338

#344 fix flyway local run
  build.gradle
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-344

#351 Add config for new envelopes check
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-351

#341 Add task for checking new envelopes in CFT and Crime containers
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/CheckNewEnvelopesTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-341

#353 Feature/new events table
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/DbHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEvent.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEventMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEventRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/NewEnvelopeEvent.java
  src/main/resources/db/migration/V006__Add_envelope_events_table.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-353

#356 Reports cron
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-356

#355 Update the log message from CRIME to Crime
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-355

#359 Added description for micro service
  README.md
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-359

#354 Sending reports
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportCsvWriter.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTask.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-354

#360 Prepare envelope controller for new event model
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeEventResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-360

#362 Return envelopes from `DuplicateFinder`
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-362

#363 Use new event model
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-363

#364 Remove old event model
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventRecord.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/NewEventRecord.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-364

#361 Add config for time-interval used to check new envelopes
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-361

#365 Remove old events table
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/DbHelper.java
  src/main/resources/db/migration/V007__Remove_old_events_table.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-365

#357 cache sas token with caffeine
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidSasTokenException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCache.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProviderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCacheTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-357

#366 Extract acquiring blob lease to a separate class
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-366

#368 Update New Envelopes check scheduled job cron to run every hour
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-368

#369 Create error events
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-369

#370 Store rejection reason in envelope event
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-370

#367 Code improvement
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTask.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-367

#371 remove from cache added
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCache.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCacheTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-371

#372 Improved logs
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTask.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-372

#376 Fixed report enabled
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-376

#358 Make sure appropriate information is logged when when blob download fails
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/ZipFileLoadException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-358

#377 Refactor blob processor
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-377

#378 move storage builder to config
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProvider.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProviderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-378

#375 Update New Envelopes Finder service to check new envelopes in business hours only
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ClockConfig.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-375

#373 Improved test
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-373

#380 add builder provider
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProvider.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProviderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProviderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-380

#379 Prepare blob processor for handling envelopes stuck in 'created' status
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-379

#382 remove sas token from cache if there is any 40x error
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProviderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-382

#384 Create `BlobContentExtractor`
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobContentExtractor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/BlobContentExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-384

#385 rename blob container client provider to proxy
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerExceptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-385

#386 rename doupdate method to update and add logs to cache methods
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCache.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-386

#387 Add method for continuing processing envelope
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-387

#390 Remove client for error notifications
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationClientTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/errornotifications/ErrorNotificationResponse.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-390

#394 Disabled mail test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-394

#392 Always run all unit tests instead of stopping on first failed one
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-392

#396 Feature/handle envelopes stuck in created status
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/Envelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-396

#393 Continue processing blob only if it is in 'created' status
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/Condition.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-393

#399 Fix envelope controller test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-399

#400 find last envelope
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-400

#398 Updated assertions in integration test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/jupiter/GreenMailExtension.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-398

#397 Remove error notification configs
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-397

#401 Create new envelopes in DB for duplicates
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-401

#402 Add repo method for finding envelopes by file name and container
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-402

#403 refactor http status check
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-403

#405 Add notification service bus queue configuration
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-405

#404 Return all matching envelopes from search endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/SearchResult.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-404

#406 Clean up mock declaration in tests
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-406

#407 Acquire lease before deciding what to do with blob
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-407

#414 Reformat code and optimize imports
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/DuplicateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEventRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/NewEnvelopeEvent.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/ReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCacheTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteRejectedFilesTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-414

#421 Add notification queue client config
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/QueueClientConfig.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/QueueClientConfig.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-421

#415 Handle releasing lease in helper class
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-415

#416 Add service to send message to notification queue
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublishingException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/model/NotificationMsg.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisherTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-416

#424 update notification queue message model
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/model/NotificationMsg.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/servicebus/notifications/NotificationsPublisherTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-424

#422 Added notification envelopes repository to get the rejected envelopes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/RejectedEnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/rejectedenvelope/RejectedEnvelopeRepository.java
  src/main/resources/db/migration/V008__Add_index_envelope_id_and_type_to_envelope_events_table.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-422

#430 Refactoring: Use the new leaser method
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-430

#435 Add config for notifications task
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.aat.template.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-435

#434 Remove no longer needed check
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/Condition.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-434

#437 Bump suppression end date
  config/owasp/suppressions.xml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-437
