Repository hmcts/blob-router-service, pull requests merged in 2020-05, with the labels that each got.

#480 Bump log4j 2.12.1 -> 2.13.2
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-480

#483 Disabled Mail health check as it causes readiness probe to fail
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-483

#487 Add indexes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/resources/db/migration/V011__Add_index_for_checking_if_envelope_exists.sql
  src/main/resources/db/migration/V012__Add_index_for_finding_envelopes_to_delete.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-487

#488 Added staging db infra config for functional tests to be used in AAT
  infrastructure/main.tf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-488

#490 Update stuck dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-490

#486 Simplify handling db envelope
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-486

#489 Update envelope service and repository to get envelopes for the date
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-489

#495 Update envelope service method to return envelope events
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EnvelopeEventRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-495

#500 Add a new request parameter `date` to the envelopes endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-500

#501 Remove deprecated flag for chart install
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-501

#502 Cleanup EnvelopeService
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-502

#505 Update java chart to version 2.18.0
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-505

#514 CVE-2020-5407 - use different version to avoid vulnerabilities
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-514

#512 Bugfix: save exception message in event notes
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-512

#515 Added logging to blob-dispatcher job
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BulkScanSasTokenCache.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-515

#520 Delay creating snapshot
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMover.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-520

#524 Delete blob along with snapshots
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-524

#525 Upgrade tomcat embedded jars due to CVE-2020-9484
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-525

#513 Update key vault and storage account url in the zipfile upload script
  bin/sign-zip-upload.sh
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-513

#529 recreate prod test certificates
  infrastructure/prod.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-529

#531 Set proxy for blob storage client as it will be rejected otherwise
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-531

#532 set TEST_USE_PROXY_FOR_SOURCE_STORAGE value for all preview and aat
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-532
