Repository hmcts/blob-router-service, pull requests merged in 2020-02, with the labels that each got.

#160 Revert the move of scheduler configuration
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/SchedulerConfiguration.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-160

#190 Support envelopes for Crime
  charts/reform-scan-blob-router/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/CrimeBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidZipArchiveException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-190

#202 Fix logging in RejectedFilesHandler
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-202

#201 Add helper class for checking if rejected blob can be deleted
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/RejectedBlobChecker.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/RejectedBlobCheckerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-201

#194 Fix API GW tests
  Jenkinsfile_CNP
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
  src/smokeTest/resources/application.conf
  src/smokeTest/resources/test-certificates.md
  src/smokeTest/resources/unrecognised-client-certificate.pfx
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-194

#200 add terraform version manager
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-200

#205 Added tests for expired and not yet valid certificates
  Jenkinsfile_CNP
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
  src/smokeTest/resources/application.conf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-205

#206 Clean up storage beans
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-206

#208 Extract StorageConfig out of ServiceConfiguration
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfigItem.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteDispatchedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteDispatchedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-208

#207 Test code improvement
  src/smokeTest/java/uk/gov/hmcts/reform/blobrouter/GetSasTokenTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-207

#210 Add rejected container cleaner
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-210

#211 Remove deprecated flag in Jenkins_CNP
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-211

#217 add notification connection configurations
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-217

#218 Add integration test for rejected container cleaner
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-218

#212 Remove apiGatewayTest module
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/apiGatewayTest/java/uk/gov/hmcts/reform/blobrouter/ApiGatewayTest.java
  src/apiGatewayTest/resources/application.conf
  src/apiGatewayTest/resources/test-certificates.md
  src/apiGatewayTest/resources/unrecognised-client-certificate.jks
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-212

#221 Enable functional tests for dispatching blobs to Bulk Scan
  charts/reform-scan-blob-router/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BulkScanBlobDispatchingTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-221

#223 Revert notification change
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/requirements.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-223

#219 Move BlobReadinessChecker from BlobProcessor to ContainerProcessor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-219

#222 Add scheduled job to delete rejected files
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/RejectedBlobChecker.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/DeleteRejectedFilesTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-222

#225 Stop verifying presence of blob in crime container
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BulkScanBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/CrimeBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/config/TestConfiguration.java
  src/functionalTest/resources/application.conf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-225

#230 Remove redundant method
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-230

#231 use BlockBlobClient
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/storage/StorageHelper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-231

#232 Clean up zip verification
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-232

#235 Update checkstyle
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-235

#234 Rename zip verification method
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-234

#236 Remove deprecated property from preview chart config
  charts/reform-scan-blob-router/values.preview.template.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-236

#238 Separate test utils from tests for utils
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/testutils/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/testutils/ResourceFilesHelper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/testutils/SigningHelper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobSignatureVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-238

#237 Zip verification cleanup
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/zipverification/README.md
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/zipverification/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/testutils/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-237

#233 Email sender
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/SendEmailException.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/jupiter/GreenMailExtension.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
  src/test/resources/email/test1.zip
  src/test/resources/email/test2.zip
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-233

#239 use custom connection string
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-239

#246 Remove redundant dependency management for tomcat
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-246

#229 add func test for rejected envelopes
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BlobRejectTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BulkScanBlobDispatchingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/FunctionalTestBase.java
  src/functionalTest/resources/test-data/envelope/invalid-signature
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-229

#243 Remove ZipStreamWithSignature class
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/InvalidConfigException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/zipverification/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobSignatureVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-243

#250 add url in log
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-250

#244 Add events table
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/DbHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EventRecordRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Event.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/EventRecord.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/NewEventRecord.java
  src/main/resources/db/migration/V004__Add_events_table.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-244

#247 public key usage cleanup
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/PublicKeyDecoder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/zipverification/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobSignatureVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-247

#254 Simplify loading public key
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobSignatureVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/PublicKeyDecoder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-254

#253 instead of download and upload try to copy directly between containers
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/BlobRejectTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-253

#255 Introduce envelope service
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-255

#257 Plug-in EnvelopeService
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-257

#258 Move method for finding enabled source containers
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-258

#259 Find containers to process once in BlobDispatcherTask
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-259

#261 Added connection pool properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-261

#264 Fix method name
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-264

#267 Add component for finding duplicates
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-267

#266 Removed irrelevant profiles
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-266

#269 Extract component for moving files to rejected container
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMover.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-269

#271 Add service method for saving 'duplicate envelope' event
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Event.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-271

#274 Remove unused containers from preview
  charts/reform-scan-blob-router/values.preview.template.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-274

#273 Add service for handling duplicate files
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-273

#275 Fix zip verification method names and logs
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobVerifierTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-275

#272 Smtp properties
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-272

#270 Clean up integration tests for moving file to rejected container
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMoverTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-270

#265 Record events to the database
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedContainerCleanerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Event.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/EventNotes.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-265

#268 Integration tests email
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/jupiter/GreenMailExtension.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSender.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-268

#276 Add functional test for duplicate envelopes
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/DuplicateTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-276

#285 Build connection string to reform scan storage in code
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-285

#288 Handle dispatched_at nullability
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-288

#290 add needed containers for preview
  charts/reform-scan-blob-router/values.preview.template.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-290

#278 Add events to envelope info response
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeEvent.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-278

#291 Add env var for upcoming duplicates scheduled job
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-291

#280 Add scheduled job for rejecting duplicates
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/DuplicateTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/RejectDuplicatesTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/RejectDuplicatesTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-280

#292 Use mock of EnvelopeService in unit test
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-292

#277 Store rejection reason in envelope events
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/EventNotes.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobVerifierTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-277

#293 Fix event recording of process start
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-293

#286 access bulk-scan storage via app gateway
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.preview.template.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProviderTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-286

#295 Remove unique constraint
  src/main/resources/db/migration/V005__Remove_unique_envelope_constraint.sql
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-295

#297 Set allowed certificate thumbprints
  infrastructure/aat.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-297

#294 Move envelope presence check to container processor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-294

#301 Add repo method for updating envelope status
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-301

#300 BUGFIX: Set `dispatched_at` to null when creating rejected envelope
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-300

#303 Create an event when error occurs
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Event.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-303

#304 Add repo method for updating dispatch time
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-304

#302 Add service method for creating new envelope
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/Status.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-302

#305 Report repo
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/ReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/model/EnvelopeSummary.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-305

#307 Clean up ReportRepository
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/ReportRepository.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-307

#306 Reduce repetition in test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/DateTimeUtils.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-306

#308 Refactor : pass blob to blob processor
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-308

#299 create new PostgreSQL 11 DB
  infrastructure/main.tf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-299

#312 Add service method for marking envelope as rejected
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/EnvelopeNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-312

#310 Add service method for marking envelope as dispatched
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-310

#316 Create single service method for saving events
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-316

#317 Add test certificate thumbprints in API Mgmt for perftest
  infrastructure/perftest.tfvars
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-317

#313 Bug: Set dispatch time when updating envelope
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-313

#309 Report service
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/DateTimeUtils.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeSummaryItem.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/TimeZones.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/DateTimeUtils.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-309

#321 ReportCsvWriter
  build.gradle
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportCsvWriter.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportCsvWriterTest.java
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-321

#319 use new upgraded DB
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-319

#322 Use new db values as the db migration needs to be applied on new db
  infrastructure/main.tf
Labels: ns:reform-scan, rel:reform-scan-blob-router-pr-322
