Repository hmcts/blob-router-service, pull requests merged in 2021-05, with the labels that each got.

#1049 fix fortify vulnerabilities
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriter.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportCsvWriter.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1049

#1050 The send_notification test case for rejected envelops modified
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1050

#1051 DTSBPS-528 - fix fortify vulnerabilities - release resource
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriter.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1051

#1052 Add env var REJECT_DUPLICATES_ENABLED
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1052

#1068 remove netty dependency set
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1068

#1069 Get rid of toLocalTimeZone
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeEventResponse.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/DateFormatter.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/InstantSerializer.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1069

#1070 Removed toLocalTimeZone
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/StaleBlobControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/BlobInfo.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/StaleBlobFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/TimeUtils.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/StaleBlobFinderTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1070

#1072 remove unnecessary suppression
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1072

#1074 Fixed blocker code issue reported by sonar
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobVerifier.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1074

#1075 Removed unused parameter
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1075
