Repository hmcts/blob-router-service, pull requests merged in 2021-02, with the labels that each got.

#892 IncompleteEnvelopesService
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/IncompleteEnvelopesService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/IncompleteEnvelopesServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-892

#897 Copy blob for cft
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-897

#898 Controller Incomplete envelopes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-898

#899 stream to pcq and crime
  bin/dependencies.txt
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/BlobStreamingException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-899

#909 upload content of envelope to CFT
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: donotmerge, ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-909

#910 Revert extracting
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/BlobDispatcherTask.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-910

#911 Revert "stream to pcq and crime (#899)"
  bin/dependencies.txt
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/BlobStreamingException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-911

#917 Stream to crime pcq with stage
  bin/dependencies.txt
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/BlobStreamingException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientBuilderProvider.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-917

#918 add env var for CFT zip extraction
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-918

#919 extract cft zips if EXTRACT_ENVELOPE_FOR_CFT is true
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-919

#921 stale blob in minutes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/StaleBlobControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/StaleBlobController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/StaleBlobFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/StaleBlobFinderTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-921

#923 remove extract config
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-923

#924 Add file size log
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-924

#925 handle upload commit error
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-925

#922 adjust block size
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-922

#926 remove unused dispatcher method
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-926

#927 remove unused EXTRACT_ENVELOPE_FOR_CFT config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-927

#928 envelope-stale-timeout property
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-928

#931 avoid netty vulnerability
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-931

#932 BulkScanProcessorClient::getZipFile
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClientTest.java
  src/integrationTest/resources/zipfile/zip-file-known.json
  src/integrationTest/resources/zipfile/zip-file-no-envelope.json
  src/integrationTest/resources/zipfile/zip-file-unknown.json
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/bulkscanprocessor/BulkScanProcessorClient.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/clients/response/ZipFileResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-932

#930 refactor- move uploadwithchunks to blobmover
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMoverTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMover.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMoverTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-930

#929 Envelope action service
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/ErrorCode.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/events/EventType.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptions/EnvelopeCompletedOrNotStaleException.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-929

#937 DTSBPS-374 - upgrade springboot
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-937

#940 upgrade blob storage test docker image
  src/integrationTest/resources/docker-compose.yml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-940

#941 enable BlobProcessorTest
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-941

#939 Dependabot/gradle/com.microsoft.azure azure servicebus 3.6.1
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-939

#938 refactor-use blob mover upload
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcher.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobDispatcherTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-938

#943 remove unused upload methods
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-943

#946 remove LeaseAcquirer and fix few smells
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMoverTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMover.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseClientProvider.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-946

#947 use async copy
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMover.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMoverTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-947

#948 remove unused moveblob method
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxy.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobContainerClientProxyTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-948

#949 no need to log lease exist exception as error
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-949

#950 change - reconciliation report creation start time
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-950

#951 ActionController
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ActionControllerTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/ActionController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-951

#952 Handling not found
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ActionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-952
