Repository hmcts/blob-router-service, pull requests merged in 2021-09, with the labels that each got.

#1165 Code smells
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationMailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1165

#1168 Code smells
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/SendDailyReportTaskTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1168

#1169 bump org.flywaydb.flyway 7.15.0
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1169

#1170 DTSBPS-735 add repo layer
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1170

#1171 DTSBPS-735 add service layer
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1171

#1173 DTSBPS-735 add dcn check
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1173

#1181 DTSBPS-749 suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1181

#1192 Bump apiguardian-api from 1.0.0 to 1.1.2
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1192

#1195 update non-prod cert
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1195
