Repository hmcts/blob-router-service, pull requests merged in 2021-03, with the labels that each got.

#955 Added marking envelope as deleted
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ActionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-955

#961 downgrade com.github.ben-manes.versions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-961

#969 BlobInfo class correction
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/IncompleteEnvelopeInfo.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/IncompleteEnvelopesService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/IncompleteEnvelopesServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-969

#971 add log for reconciliation statement
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-971

#972 add logs for reconciliation
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/SupplierStatementRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-972

#973 add error logs for reconciliation
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/ReconciliationService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-973

#974 Changed endpoint URL
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-974

#982 bump-versions-dependabot
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-982

#984 dependabot org.springframework.boot
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-984

#978 Repo changes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/DbHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/EnvelopeCountSummaryMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/ReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/reports/EnvelopeCountSummaryReportItem.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-978

#990 DTSBPS-407-remove-service-config-from-repo
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/ReportRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-990

#996 avoid vulnerability CVE-2021-21295
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-996

#997 add read access
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-997

#995 Dtsbps 407 service implemented
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/report/ReportServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-995

#1001 give add access
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1001

#998 Dtsbps 407 report controller
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ReportsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reports/EnvelopeCountSummaryReportListResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-998
