Repository hmcts/blob-router-service, pull requests merged in 2021-01, with the labels that each got.

#853 Added suppression lang-tag
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-853

#852 Reverted SAS token changes
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/SasTokenGeneratorServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-852

#813 Out of memory fix
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/blobrouter/util/zipverification/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/testutils/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobVerifierTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/ZipVerifiersTest.java
  src/test/resources/signature/too_long_signature.der
Labels: donotmerge, enhancement, ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-813

#867 add new env var for blob lease timeout
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-867

#868 add metadata checker
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMetaDataHandler.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMetaDataHandlerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-868

#870 Add lease metadata checker logic
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-870

#873 remove lease
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/RejectedBlobChecker.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMetaDataHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/RejectedBlobCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMetaDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-873

#877 fix delete issue
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleaner.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-877

#878 integration test disable reconciliation report mail
  src/integrationTest/resources/application.properties
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-878

#876 stop lease acquire
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMetaDataHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirer.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/BlobMetaDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-876

#858 stream for signature verification
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/BlobVerifier.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/util/BlobVerifierTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-858

#879 small refactor for streaming
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-879

#891 Repository getIncompleteEnvelopes
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-891
