Repository hmcts/blob-router-service, pull requests merged in 2022-01, with the labels that each got.

#1285 DTSBPS-827 - Added file_size
  src/main/resources/db/migration/V017__Add_file_size_envelopes.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1285

#1290 DTSBPS-827 - file_size made BIGINT
  src/main/resources/db/migration/V018__Alter_file_size_bigint_envelopes.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1290

#1288 Added fileSize to Envelope + EnvelopeRepo
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/ActionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/Envelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/SummaryReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/IncompleteEnvelopesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/RejectedFilesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerCleanerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/RejectedContainerCleanerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1288

#1292 Added fileSize to NewEnvelope
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/EnvelopeSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/RejectedEnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/storage/ContainerCleanerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/envelopes/NewEnvelope.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1292

#1293 Saving file size
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/NotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/ContainerProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeService.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessor.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/DuplicateFinder.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/EnvelopeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/storage/DuplicateFileHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorContinuationTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/tasks/processors/BlobProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1293

#1302 remove netty dependencymanagement
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1302

#1305 DTSBPS-841 remove jcenter
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1305

#1306 DTSBPS-841 add maven repos
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1306

#1304 Added privatelaw and nofaultdivorce config
  charts/reform-scan-blob-router/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1304

#1299 Added file_size to EnvelopeInfo
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/model/out/EnvelopeInfo.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1299

#1313 DTSBPS-847 nfd config
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1313
