Repository hmcts/blob-router-service, pull requests merged in 2022-02, with the labels that each got.

#1325 enable-email-sender-test
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1325

#1328 Fix CVE-2022-23181
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1328

#1332 Configure privatelaw
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1332

#1335 DTSBPS-867 bump-java-chart
  charts/reform-scan-blob-router/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1335

#1343 bump-java-chart
  charts/reform-scan-blob-router/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-1343
