Repository hmcts/blob-router-service, pull requests merged in 2024-03, with the labels that each got.

#2184 Re run perms
  infrastructure/tf-db-flexible.tf
Labels: ns:reform-scan, prd:reform-scan, destroy, rel:reform-scan-blob-router-pr-2184

#2183 FACT-1632 switch to use flex creds
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-2183

#2185 Update AAT to use flexi stg DB
  charts/reform-scan-blob-router/values.aat.template.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-2185

#2191 re-create roles/access
  infrastructure/tf-db-flexible.tf
Labels: ns:reform-scan, prd:reform-scan, destroy, rel:reform-scan-blob-router-pr-2191

#2189 schema ownership fix [DO NOT MERGE TILL RELEASE]
  infrastructure/tf-db-flexible.tf
Labels: ns:reform-scan, prd:reform-scan, add-or-update, rel:reform-scan-blob-router-pr-2189

#2187 Fact 1580 [Merge after Josh's!]
  .github/workflows/swagger.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/config/TestClockProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/ReconciliationReportRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/data/SupplierStatementRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/Application.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ClockConfig.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/StorageConfigItem.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/config/jms/JmsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/reports/ReconciliationReportRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/data/reconciliation/statements/SupplierStatementRepository.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/controller/ReconciliationController.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/model/in/SupplierStatement.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/reconciliation/service/datetimechecker/StatementRelevancyForAutomatedReportChecker.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinder.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/blobrouter/tasks/jms/JmsNotificationsPublisher.java
  src/main/resources/application-dev.yaml
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/NewEnvelopesFinderTest.java
  src/test/java/uk/gov/hmcts/reform/blobrouter/services/email/EmailSenderTest.java
Labels: ns:reform-scan, prd:reform-scan, destroy, rel:reform-scan-blob-router-pr-2187
