Repository hmcts/blob-router-service, pull requests merged in 2024-04, with the labels that each got.

#2194 Force schema perms on AAT
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:reform-scan, prd:reform-scan, plan-on-prod, aat/destroy, prod/add-or-update, rel:reform-scan-blob-router-pr-2194

#2195 FACT-1662 Remove single server
  infrastructure/aat.tfvars
  infrastructure/api-test-vars.tf
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:reform-scan, prd:reform-scan, plan-on-prod, aat/destroy, prod/destroy, rel:reform-scan-blob-router-pr-2195

#2196 FACT-1662 Values.yaml update
  charts/reform-scan-blob-router/Chart.yaml
  charts/reform-scan-blob-router/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-2196

#2197 FACT-1662 Remove unused secrets
  infrastructure/tf-db-flexible-secrets.tf
Labels: ns:reform-scan, prd:reform-scan, plan-on-prod, aat/destroy, prod/destroy, rel:reform-scan-blob-router-pr-2197

#2202 FACT-1701 add new certs all envs
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: plan-on-prod, prod/add-or-update, aat/add-or-update

#2204 FACT-1701 Remove old thumbprint
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:reform-scan, prd:reform-scan, plan-on-prod, prod/add-or-update, aat/add-or-update, rel:reform-scan-blob-router-pr-2204

#2203 NO TICKET - Updates chart-java version
  charts/reform-scan-blob-router/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, plan-on-prod, prod/add-or-update, aat/add-or-update, rel:reform-scan-blob-router-pr-2203

#2206 added irm thumbprint
  infrastructure/demo.tfvars
Labels: ns:reform-scan, prd:reform-scan, plan-on-prod, prod/add-or-update, aat/add-or-update, rel:reform-scan-blob-router-pr-2206
