Repository hmcts/blob-router-service, pull requests merged in 2024-07, with the labels that each got.

#2231 FACT-1809 update CFT policy
  infrastructure/aat.tfvars
  infrastructure/api-test-vars.tf
  infrastructure/cft-api-policy.xml
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
Labels: ns:reform-scan, prd:reform-scan, prod/add-or-update, aat/add-or-update, rel:reform-scan-blob-router-pr-2231

#2233 FACT-1669 update readme
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  charts/reform-scan-blob-router/Chart.yaml
  docker/database/Dockerfile
  src/functionalTest/java/uk/gov/hmcts/reform/blobrouter/RejectedEnvelopesNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/blobrouter/util/BlobStorageBaseTest.java
  src/integrationTest/resources/docker-compose.yml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-2233

#2237 FACT-1840 switch to temp db aat stg
  charts/reform-scan-blob-router/values.aat.template.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-blob-router-pr-2237

#2238 FACT-1840 remove unused db
  infrastructure/prod.tfvars
  infrastructure/stg.tfvars
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:reform-scan, prd:reform-scan, aat/destroy, prod/add-or-update, rel:reform-scan-blob-router-pr-2238

#2240 FACT-1809 clean up apim certs
  README.md
  infrastructure/cft-api-mgmt-subscriptions.tf
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
Labels: ns:reform-scan, prd:reform-scan, aat/destroy, prod/destroy, rel:reform-scan-blob-router-pr-2240

#2241 FACT-1809 policy updates
  infrastructure/cft-api-mgmt.tf
  infrastructure/cft-api-policy.xml
Labels: ns:reform-scan, prd:reform-scan, prod/add-or-update, aat/add-or-update, rel:reform-scan-blob-router-pr-2241

#2243 Fact 1809 policy updates
  infrastructure/cft-api-policy.xml
Labels: ns:reform-scan, prd:reform-scan, prod/add-or-update, aat/add-or-update, rel:reform-scan-blob-router-pr-2243

#2244 Add exela new thumbprint
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
Labels: prod/add-or-update, aat/add-or-update
